@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import "tailwindcss";

@theme {
    --font-body: "PT Serif", serif;
    --font-title: "DM Serif Display", serif;
}

body {
    background: #FDF8ED;
}